.welcome-header {
  margin: 20% 0%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-header__title {
  margin-bottom: 30px;
  font-size: 25px;
  font-weight: 500;
}
.welcome-header__text {
  width: 80%;
  opacity: 0.5;
  font-size: 90%;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 35px;
}

.login-form input {
  padding: 17px;
  margin: 10px 0px;
  border: none;
}

/* If you want to exclude something from your css contents
      you gotta use :not([]){}
      example is below*/
.login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  transition: border-color 0.3s ease-in-out;
}

.login-form input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
}
.login-form input:focus {
  border-color: var(--kakaoyellow);
}

.login-form input[type="submit"] {
  background-color: var(--kakaoyellow);
  margin: 20px 0px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.login-form a {
  text-align: center;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  text-decoration: none;
}
