#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 10px 0px;
  font-size: 12px;
  margin-bottom: 15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}

@keyframes hideSplash-screen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--kakaoyellow);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  animation: hideSplash-screen 0.3s ease-in-out forwards;
  animation-delay: 1s;
}
