.alt-screen-header {
  padding: var(--horizntal--space);
  display: flex;
  margin-top: 18px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 10px;
  z-index: 1;
}

.alt-screen-header__title {
  font-size: 23px;
  font-weight: 600;
}

.alt-screen-header__column {
  width: 33%;
}

.alt-screen-header__column:first-child {
  margin-right: auto;
}

.alt-screen-header__column:nth-child(2) {
  text-align: center;
}
.alt-screen-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
