.nav {
  background-color: #f9f9fa;
  padding: 20px 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__btn {
  color: #2f363e;
  position: relative;
}

.nav__notification {
  background-color: tomato;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 13px;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 14px;
  top: -10px;
}

.nav__notification_dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 23px;
  top: -7px;
}
